parameters:
    level: max
    phpVersion: 80100
    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: false
    tipsOfTheDay: false
    reportWrongPhpDocTypeInVarTag: true
    paths:
        - src
        - tests
    ignoreErrors: